.Option1{
    background-color: #000;
    color: #fff;
}

.Option1,select,option{
    padding: 105px;
    margin-left: 10px;
    background-color: #000 ;
    color: #fff;
  
}


.option1 :hover{
   border-style: solid;
   border-radius: .5rem;
}